{% extends 'base-back.html.twig' %}

{% block title %}CarStore -BackOffice{% endblock %}

{% block body %}

<table id="table-back-browse">
    <thead>
        <tr>
            <th colspan="5">Liste de tous les modèles <em>{{brand.name}}</em></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="1" class="table-subtitle">Identifiant</th>
            <th colspan="1" class="table-subtitle">Modèle</th>
            <th colspan="1" class="table-subtitle">Voir le modèle</th>
            <th colspan="1" class="table-subtitle">Modifier</th>
            <th colspan="1" class="table-subtitle">Supprimer</th>
        </tr>
        {% for car in brand.cars %}
        <tr>   
            <td>{{ car.id }}</td>
            <td>{{ car.name }}</td>
            <td><a href="{{ path('back_car_show', {id: car.id}) }}">Voir</a></td>
            <td><a href="{{ path('back_car_edit', {id: car.id}) }}">Modifier</a></td>
            <td>
                <form method="post" action="{{ path('back_car_delete', {id: car.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete-car-' ~ car.id) }}">
                <button class="btn btn-danger">Supprimer</button>
                </form>
            </td>      
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}