{% extends 'base-back.html.twig' %}

{% block title %}CarStore -BackOffice{% endblock %}

{% block back_brand %}active{% endblock %}

{% block body %}

{# BRAND'S TABLE #}
<table id="table-back-browse">
    <thead>
        <tr>
        <th colspan="5">Liste de toutes les <em>Marques</em></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th colspan="1" class="table-subtitle">Identifiant</th>
        <th colspan="1" class="table-subtitle">Nom de la Marque</th>
        <th colspan="1" class="table-subtitle">Voir les modèles de la Marque</th>
        <th colspan="1" class="table-subtitle">Modifier</th>
        <th colspan="1" class="table-subtitle">Supprimer</th>
        </tr>
        {% for index, brand in brands %}
        <tr>   
        <td>{{ brand.id }}</td>
        <td>{{ brand.name }}</td>
        <td><a href="{{ path('back_brand_show', {id: brand.id}) }}">Voir</a></td>
        <td><a href="{{ path('back_brand_edit', {id: brand.id}) }}">Modifier</a></td>
        <td>
            <form method="post" action="{{ path('back_brand_delete', {id: brand.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete-brand-' ~ brand.id) }}">
            <button class="btn btn-danger">Supprimer</button>
            </form>
        </td>      
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
        <th colspan="5"><a href="{{ path("back_brand_add") }}">Ajouter une Marque</a></th>
        </tr>
    </tfoot>
</table>
{% endblock %}
